// COLORS
$color-white: #fff;
$color-brown-black: #231900;

$color-yellow-light: #FFBE00;
$color-yellow-dark: #ffcc00;
$color-grey-light: #F7F7F7;
$color-grey-dark: #777;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-display: 'Montserrat', sans-serif
