// COLORS
$color-white: #fff;
$color-black: #000;
$color-brown-black: #231900;

$color-yellow-dark: #FFBE00;
$color-yellow-light: #ffd900f6;

$color-grey-light: #F7F7F7;
$color-grey-light-1: #E5E5E5;
$color-grey-dark: #777;
$color-grey-dark-1: #333;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-display: 'Montserrat', sans-serif
