.btn {

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: auto;

    margin: 5rem;
    padding: 1rem;

    color: $color-black;
  }

  &--two {
    border: 3px solid $color-black;
    margin: 2rem;
    padding: .5rem;
    transition: all .4s;

    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
  }

  &--yellow {
    border: 3px solid $color-yellow-light;
    font-size: 1.5rem;
    color: $color-white;
    transition: all .4s;

    &:hover {
      background-color: $color-yellow-light;
    }
  }
}

.btn-two {
  border: 2px solid $color-yellow-light;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  position: relative;
  overflow: hidden;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;
  }

  &__visible {
    padding: 1rem;
  }

  &__invisible {
    position: absolute;
    top: -100%;
    left: 0;
  }

  &:hover {
    background-image: linear-gradient(to left, $color-yellow-light, $color-yellow-dark);
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 20%;
  }
}

.btn-three {
  display: inline-block;
  position: relative;
  margin: .4rem;
  padding: 1rem;
  z-index: 0;

  // Placing background-color
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: $color-yellow-light;
    // hiding background image
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .3s ease-out;
  }

  &:hover:before {transform: scaleX(1);}
}