@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

// ABOUT ANIMATIONS
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

// ANIMATIONS - START-POINT
.js--wp-about1,
.js--wp-about2,
.js--wp-about3,
.js--wp-services-pic1,
.js--wp-services-pic2,
.js--wp-services-pic3,
.js--wp-services-details1,
.js--wp-services-details2,
.js--wp-services-details3,
.js--wp-projects1,
.js--wp-projects2,
.js--wp-projects3,
.js--wp-projects4,
.js--wp-projects5,
.js--wp-projects6,
.js--wp-projects7,
.js--wp-projects8,
.js--wp-projects9,
.js--wp-footer-pic1,
.js--wp-footer-pic2,
.js--wp-footer-pic3,
.js--wp-footer-pic4,
.js--wp-footer-pic5,
.js--wp-footer-pic6,
.js--wp-footer-post1,
.js--wp-footer-post2,
.js--wp-footer-post3 {
    opacity: 0;
}

.about_animated {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    &--two {
        animation-delay: .3s;
    }
    &--three {
        animation-delay: .5s;
    }
}

// SERVICES ANIMATIONS - pictures
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// SERVICES ANIMATIONS - details
@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


.services_animated {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;


    &--details {
        animation-name: slideInUp;
        animation-duration: 1s;
        animation-delay: .3s;
        animation-fill-mode: forwards;

    }
}

// PROJECTS ANIMATIONS
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

.gallery_animated {
    animation-name: zoomIn;
    animation-duration: .8s;
    animation-fill-mode: forwards;

    &--two {
        animation-delay: .2s;
    }

    &--three {
        animation-delay: .4s;
    }

    &--four {
        animation-delay: .6s;
    }

    &--five {
        animation-delay: .8s;
    }
}

// Footer animation
@keyframes pulse {
    from {
        opacity: 0;
        transform: scale3d(1, 1, 1);
    }
    50% {
        opacity: .5;
        transform: scale3d(1.3, 1.3, 1.3);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.footer_animated {
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    &--two {
        animation-delay: .2s;
    }

    &--three {
        animation-delay: .4s;
    }

    &--four {
        animation-delay: .6s;
    }

    &--five {
        animation-delay: .8s;
    }

    &--six {
        animation-delay: 1s;
    }
}